{%extends templates/_base.t.html%}
<h1>{%block title%}Imprint{%endblock%}</h1>
{%block content%}
<p>
    The Tea Programming Language is a project by <a href="https://github.com/eternalconcert/tea2">Eternalconcert</a>.
</p>
<p>
  Vertreten durch:
  Christian Kokoska
  <br>
  Springweg 4
  <br>
  59192 Bergkamen
  <br>
  Mail: info@softcreate.de
  <p>
    Gelinkte Seiten werden regelmäßig von uns überprüft. Sollten sich auf einer der Seiten illegale Inhalte befinden, bitten
    wir darum, uns per E-mail darüber zu informieren. Bei Kritik am Inhalt bitten wir darum, sich mit uns per E-Mail in
    Verbindung zu setzen. Für alle geschäftlichen Beziehungen und Kontakte gelten ausschließlich unsere AGB.
  </p>
</p>
{%endblock%}
